.inside-shadow {
  /* box-shadow: inset 0px 0px 85px -13px #273746,
    inset 0px -75px 85px -20px #273746; */

  box-shadow: inset 0 -130px 66px -66px #000000;
}

.hide {
  animation-name: showDescription;
  animation-duration: 1s;
}

.show:hover .hide {
  display: block;
}

@keyframes showDescription {
  from {
    display: nome;
  }
  to {
    display: block;
  }
}
